<header>
    <div class="container">
        <h1>Danial Pahlavan Mosavari</h1>
        <h2>PhD Student in Artificial Intelligence</h2>
    </div>
    <nav>
        <div class="container">
            <ul>
                <li><a href="/index.html" data-nav-target="home">Home</a></li>
                <li><a href="/projects.html">Projects</a></li>
                <li><a href="/wiki-ai.html">Wiki AI</a></li>
                <li><a href="/blog.html">Blog</a></li>
                <li><a href="/certs.html">Certs</a></li>
                <li><a href="/index.html#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
