<header>
    <div class="container">
        <h1>Danial Pahlavan M.</h1>
        <h2>PhD Student in Artificial Intelligence</h2>
    </div>
    <nav>
        <div class="container">
            <ul>
                <li><a href="/" data-nav-target="home">Home</a></li>
                <li><a href="/projects">Projects</a></li>
                <li><a href="/wiki-ai">Wiki AI</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/certs">Certs</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>
        </div>
    </nav>
</header>
