{% extends "layouts/default.html" %}
{% block content %}
<section id="contact" data-page="home">
    <h2>Contact Information</h2>
    <ul>
        <li>Email: danial.pahlavanmossavari307 [at] gmail [dot] com</li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/danialpahlavan/" target="_blank">linkedin.com/in/danialpahlavan</a></li>
        <li>GitHub: <a href="https://github.com/DanialPahlavan" target="_blank">github.com/DanialPahlavan</a></li>
    </ul>
</section>

<section id="about-me" data-page="home">
    <h2>About Me</h2>
    <section id="summary">
        <h3>Summary</h3>
        <p>PhD student in Artificial Intelligence at Azad University, with a strong background in AI Engineering and Robotics from Ferdowsi University of Mashhad. Experienced in Python, C++, machine learning, computer vision, and robotics. Creative problem-solver passionate about leveraging technology for real-world challenges. Excellent communicator and team player.</p>
    </section>

    <section id="experience">
        <h3>Experience</h3>
        <div class="job">
            <h3>Web Mining of PDF Scientific Papers – Ferdowsi University of Mashhad</h3>
            <p><em>Feb 2022 – Apr 2022, Mashhad</em></p>
            <ul>
                <li>Developed a tool to extract key information from Farsi scientific papers in PDF format.</li>
                <li>Created a program to generate outputs with relevant details such as titles, authors, and keywords.</li>
                <li>Utilized web scraping and data mining techniques to extract data from PDF files.</li>
                <li>Employed Python and libraries such as PyPDF2 to implement the project.</li>
                <li>Applied OCR to convert non-copyable Persian language articles into machine-readable text.</li>
            </ul>
        </div>
        <div class="job">
            <h3>Machine Learning for Embedded Systems – Ferdowsi University of Mashhad</h3>
            <p><em>Nov 2021 – Dec 2021, Mashhad</em></p>
            <ul>
                <li>Developed and compiled C code for machine learning applications on embedded systems using Ubuntu.</li>
                <li>Utilized GitHub for collaborative project development with team members.</li>
                <li>Implemented AI models on micro-controllers, gaining practical embedded system skills.</li>
                <li>Researched AI models and their application in embedded systems.</li>
                <li>Contributed to team efforts in designing and implementing an AI-based project on a micro-controller platform.</li>
            </ul>
        </div>
        <div class="job">
            <h3>Watermarking and Steganography – Ferdowsi University of Mashhad</h3>
                    <p><em>2020, Mashhad</em></p>
                    <ul>
                        <li>Designed and implemented an image watermarking system using DCT and DWT techniques.</li>
                        <li>Studied the robustness and imperceptibility of different watermarking techniques under various attacks.</li>
                        <li>Implemented a steganography system for hiding secret messages in images using LSB and DCT techniques.</li>
                        <li>Conducted comparative analysis of different steganography techniques and their robustness against various attacks.</li>
                        <li>Implemented the project using Python on Ubuntu Linux.</li>
                    </ul>
                </div>
                <div class="job">
                    <h3>Evolutionary Computing – Ferdowsi University of Mashhad</h3>
                    <p><em>2019, Mashhad</em></p>
                    <ul>
                        <li>Studied the performance of evolutionary algorithms, including genetic algorithms, particle swarm optimization, and differential evolution, in solving various optimization problems.</li>
                        <li>Implemented an evolutionary algorithm to solve the traveling salesman problem.</li>
                        <li>Analyzed convergence properties, runtime, and performance of evolutionary algorithms under different settings.</li>
                    </ul>
                </div>
                <div class="job">
                    <h3>Image Processing – Ferdowsi University of Mashhad</h3>
                    <p><em>2018, Mashhad</em></p>
                    <ul>
                        <li>Developed a system for image enhancement using histogram equalization and local contrast stretching.</li>
                        <li>Implemented a Sobel edge detection algorithm to detect and highlight edges in images.</li>
                        <li>Designed a color segmentation algorithm to extract specific regions of interest from images.</li>
                        <li>Created a system for image denoising using Gaussian and median filters.</li>
                        <li>Implemented an image stitching system to create panoramic images from overlapping images.</li>
                    </ul>
                </div>
            </section>

            <section id="education">
                <h3>Education</h3>
                <div class="school">
                    <h3>Ph.D. in Artificial Intelligence – Azad University</h3>
                    <p><em>Oct 2023 – Present, Mashhad</em></p>
                    <ul>
                        <li>Specialization in Natural Language Processing (NLP) with a focus on Retrieval-Augmented Generation (RAG).</li>
                    </ul>
                </div>
                <div class="school">
                    <h3>M.Eng. in AI and Robotics – Ferdowsi University of Mashhad</h3>
                    <p><em>Sept 2019 – Nov 2022, Mashhad</em></p>
                    <ul>
                        <li>Graduated with a GPA of 17.94/20</li>
                        <li>Elected by peers as class leader for the M.Sc. program.</li>
                        <li>Proficient in utilizing online tools to streamline communication and increase productivity.</li>
                        <li>Selected Courses: Evolutionary Computing, Pattern Recognition, Neural Networks, Advanced AI, Image Processing, Information Hiding, Embedded Real-Time Systems Design, Search Engines, Web Mining.</li>
                    </ul>
                </div>
                <div class="school">
                    <h3>Bachelor’s in Information Technology – Sadjad University of Mashhad</h3>
                    <p><em>Sept 2013 – Sept 2018, Mashhad</em></p>
                    <ul>
                        <li>Completed coursework in programming languages such as Python and C++.</li>
                        <li>Studied and worked with database management systems, including PostgreSQL.</li>
                        <li>Gained knowledge of networking concepts and protocols, including TCP/IP and DNS.</li>
                    </ul>
                </div>
            </section>

            <section id="skills">
                <h3>Skills</h3>
                <ul>
                    <li><strong>Programming:</strong> Python (Experienced), C++ (Familiar)</li>
                    <li><strong>Frameworks & Libraries:</strong> PyTorch, TensorFlow, OpenCV, scikit-learn, Keras (Familiar)</li>
                    <li><strong>Miscellaneous:</strong> Linux, Shell (Bash/Zsh), LaTeX, Microsoft Office, Firebase, Git, Power BI, Excel, GitHub, GitLab, Deep Learning, NLP, Microsoft Visio, SSIS, SSRS, Cloudera, Spark, Hadoop (Familiar)</li>
                    <li><strong>Databases & Data Visualization:</strong> SQL Server, MySQL, Power BI, T-SQL, ETL/ELT, PL/SQL, MongoDB (Familiar)</li>
                    <li><strong>Soft Skills:</strong> Time Management, Teamwork, Problem-Solving, Documentation, Engaging Presentations, ETL (Data Warehousing)</li>
                </ul>
            </section>

            <section id="publications">
                <h3>Publications</h3>
                <ul>
                    <li><strong>Conference Paper:</strong> "A review of Article multi-agent reinforcement learning methods In Farsi"<br>Danial Pahlavan, Abed Hosseini, Mahboobeh Houshmand<br>The Second International Conference on Electrical, Computer, Mechanical and Artificial Intelligence Engineering (Dec. 2022)</li>
                    <li><strong>Medium Article:</strong> "Recursive Algorithms"<br>Danial Pahlavan, 2022</li>
                </ul>
            </section>

            <section id="languages">
                <h3>Languages</h3>
                <ul>
                    <li>English – Professional proficiency</li>
                    <li>Persian – Native proficiency</li>
                </ul>
            </section>
        </section>

{% endblock %}
